.blocks-section {
	position: relative;
	padding: 1rem;
	opacity: 0;
	transition: opacity $trans-time $trans-ease;

	&.ready {
		opacity: 1;
	}

	&::before {
		content: "";
		padding-top: 50%;
		display: block;
	}
}

.blocks-layout {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
}

.blocks-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	grid-auto-rows: 80px;
	grid-auto-flow: dense;
	grid-gap: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: $black;
	transition: grid-gap $trans-time $trans-ease;

    li {
        position: relative;
        transition: all $trans-time $trans-ease;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('./../assets/bg-pattern.png');
            opacity: 0.075;
        }
    }
}

@media (min-width: $breakpoint) {
	.blocks-section {
		padding: 1rem;
		width: 80vw;
		flex: 0 0 auto;
		height: 100%;
	}
}