#draggable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block !important;

}

.nub {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: $white;
    border: 4px solid $blue;
    border-radius: 50%;
    touch-action: none;
    user-select: none;

    &::before {
        content: "";
        position: absolute;
        width: .5rem;
        height: .5rem;
        background: $blue-light;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        cursor: pointer;
    }

    &:active {
        border-color: $red-light;
    }

    &:hover {
        border-width: 5px;
    }
}