html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: $darkgray;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
}

#canvas-screenshot,
#img-screenshot,
#canvas-filter {
	// max-width: 80vw;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	& ~ * {
		display: none;
	}
}

.github-corner {
	fill: $white;
	color: $darkgray-alt;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
	transition: all $trans-time-short $trans-ease;
	opacity: 0.85;

	&:hover {
		opacity: 1;
	}
}

@keyframes octocat-wave {
	0%,100% {
		transform: rotate(0);
	}

	20%,60% {
		transform: rotate(-25deg);
	}

	40%,80% {
		transform: rotate(10deg);
	}
}

@media (min-width: $breakpoint) {
	body {
		overflow: hidden;
	}

	.main {
		display: flex;
		justify-content: space-between;
		width: 100vw;
		height: 100vh;
	}

	.github-corner {
		&:hover {
			.octo-arm {
				animation: octocat-wave 560ms ease-in-out;
			}
		}
	}
}