html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: $darkgray;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
}

#canvas-screenshot {
    max-width: 80vw;
}

@media (min-width: $breakpoint) {
	.main {
		display: flex;
		justify-content: space-between;
		width: 100vw;
		height: 100vh;
	}
}