.settings-section {
    position: relative;
    background: $darkgray-alt;
    padding: 1rem;
    color: $white;
    height: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
    transition: all $trans-time-short $trans-ease;
}

.settings-top {
    text-align: center;
    margin: 0 0 1rem;

    img {
        width: 50px;
    }
}

.settings-form {
    position: relative;
    opacity: 0;
    max-height: 0%;
    overflow: hidden;
    transition: all $trans-time $trans-ease;

    &.active {
        max-height: 100%;
        opacity: 1;
    }

    fieldset {
        border: none;
        margin: 0 0 30px;
        padding: 0;

        legend {
            display: block;
            text-align: left !important; // Chrome fix
            color: $white;
            margin: 0 0 14px;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1;
        }

        > *:last-child {
            margin-bottom: 0 !important;
        }
    }

    table {
        width: 100%;

        tr:last-child td { border-bottom: none; }

        td {
            vertical-align: middle;
            line-height: 1;
            border-bottom: 10px solid transparent;

            &.align-top {
                vertical-align: top;
            }

            &:first-child {
                padding-right: 5px;
            }
        }
    }

    label {
        white-space: nowrap;
    }

    input[type="text"],
    input[type="number"],
    input[type="range"] {
        width: 100%;
        max-width: 100%;
        border: 1px solid $gray;
        background: $darkgray;
        color: $white;
        height: 40px;
        padding: 0 10px;
        transition: all $trans-time-short $trans-ease;

        &:hover,
        &:focus {
            border-color: $white;
        }
    }

    input[type="number"] {
        margin: 0;
        -moz-appearance: textfield;
        appearance: textfield;

        // Chrome-specific
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
              -webkit-appearance: none;
        }
    }

    input[type="range"] {
        background: none;
        border: none;
    }

    button {
        display: block;
        width: 100%;
        background: $darkgray-alt;
        color: $white;
        border: 1px solid $lightgray;
        padding: 0;
        margin: 0 0 10px;
        text-transform: uppercase;
        text-align: center;
        height: 40px;
        cursor: pointer;
        transition: all $trans-time-short $trans-ease;

        &.alt {
            background: $green;
            border-color: $green;

            &:hover,
            &:focus {
                background: $green-light;
                border-color: $white;
            }
        }

        &:hover,
        &:focus {
            border-color: $white;
        }
    }
}

.field {
    position: relative;
    margin: 0 0 10px;

    button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        display: inline-block;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        width: 20px;
        height: 20px;
        opacity: 0.75;
        cursor: pointer;
        transition: all $trans-time-short $trans-ease;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    img {
        width: 100%;
        height: 100%;
        pointer-events: none; // Prevent Chrome from targeting this
    }
}

.color-indicator {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    border: 1px solid $gray;
    font-size: 0;
    text-indent: -9999px;
}

.divider {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
    text-align: inherit;
    margin: 0 0 15px;
    border: 0;
    text-align: center;

    &::after {
        content: "";
        display: inline-block;
        width: 100px;
        max-width: 100%;
        border-top: 1px solid $gray;
        vertical-align: top;
    }
}