$white: #fff;
$lightgray: #adadad;
$gray: #4e4e4e;
$black: #000;
$darkgray: #393939;
$darkgray-alt: #222;
$green: forestgreen;
$green-light: #28a328;
$red: firebrick;
$red-light: #e2322a;
$trans-time-short: 0.2s;
$trans-time: 0.5s;
$trans-ease: ease-in-out;
$breakpoint: 1024px;